body {
  background-color: lightgreen;
  color: darkgreen;
  justify-content: center;
  text-align: center;
  display: flex;
  flex: center;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}
