.title {
  color: #808080;
  text-align: center;
  margin: 0 auto;
}

.grey{
  color: #808080;
  text-align: center;
  margin: 0 auto;
}

.opening-paragraph{
  color: #808080;
  text-align: center;
  margin: 0 auto;
}
