.title {
  color: #808080;
  text-align: center;
  margin: 0 auto;
  font-family: Arial, sans serif;
}

.grey{
  color: #808080;
  text-align: center;
  margin: 0 auto;
  font-family: Arial, sans serif;
}

.opening-paragraph{
  color: #808080;
  text-align: center;
  margin: 0 auto;
  font-family: Arial, sans serif;
  font-size: 20px;
}

body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container {
    width: 350px;
    background: #222;
    padding: 20px;
    border-radius: 12px;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: none;
    margin-top: 6px;
}
button {
    width: 100%;
    padding: 10px;
    background: #4a9cff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background: #2f80ff;
}
