body {
  justify-content: center;
  align-items: center;
  font-family: Roboto, Oswald;
  line-height: 1.6;
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.header {
  background-color: black;
  color: white;
  font-size: 4em;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #806844;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  margin: 10px;
  transition: 0.2s;
}

.btn:hover {
  background-color: #5f4d33;
  transform: scale(1.05);
}
