.title {
  color: #808080;
  text-align: center;
  margin: 0 auto;
  font-family: Arial, sans serif;
}

.grey{
  color: #808080;
  text-align: center;
  margin: 0 auto;
  font-family: Arial, sans serif;
}

.opening-paragraph{
  color: #808080;
  text-align: center;
  margin: 0 auto;
  font-family: Arial, sans serif;
  font-size: 20px;
}
